/* RESOURCES -------------------------------------------------------*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --primary: #6335ff;
  --ocean: #4045ff;
  --sky: #2de1ff;
  --candy: #46ffc2;
  --cloud: #ffffff;
  --gray: #f9f9f9;
  --black: #302e2f;
  --gradient: linear-gradient(90deg, #00c5dc 0%, #208cfd 50.5%, #8705fa 100%);
  --dark-ocean: #101040;
  --soft-gray: #302e2f;
  --warning: #f4190b;
  --purple: #8705fa;
  --ocean-secundary: #208cfd;
  --aqua: #00c5dc;
}

/* HELP BUTTON ----------------------------------------------*/
.help-button {
  position: absolute;
  cursor: pointer;
  top: 10px;
  right: 10px;
  z-index: 9999;
}

.help-tooltip {
  position: absolute;
  top: 100%;
  right: 0;
  color: var(--cloud);
  background-color: rgba(0, 0, 0, 0.8);
  padding: 8px;
  border-radius: 4px;
  display: none;
  z-index: 9999;
}

.help-button:hover .help-tooltip,
.help-button.clicked .help-tooltip {
  display: block;
}

/* TITULO BOX 1 ----------------------------------------------*/
.title-container {
  margin-left: 25px;
  margin-top: 13px;
}

.title-container span {
  color: var(--cloud);
  font-family: Montserrat;
  font-size: 11px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.input-container {
  margin-top: 5px;
  margin-left: 25px;
}

.input-container input {
  padding: 0;
  box-sizing: border-box;
  width: 671px;
  border: none;
  outline: none;
  color: var(--cloud);
  font-family: Nohemi;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  height: 19px;
  background-color: rgba(95, 92, 93, 0);
}

.input-container input::placeholder {
  color: var(--placeholder-color);
  opacity: 35%;
}

textarea {
  padding: 0;
}

/* COMPONENT NETWORKS */

.network-tittle {
  color: var(--Dark-ocean, #101040);
  font-family: Nohemi;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

#networks-icons {
  height: 16px;
  cursor: pointer;
}

.container-network {
  margin-top: 12px;
  margin-left: 18px;
}

.icons-container {
  margin-left: 22px;
  margin-top: 11px;
  display: flex;
  width: 153px;
  height: 17px;
  align-items: flex-start;
  gap: 16px;
}

/* COMPONENT NETWORKS */

/* COMPONENT DESCRIPTION */

.description-span {
  color: rgba(95, 92, 93, 0.5);
  font-family: Montserrat;
  font-size: 11px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.description-container {
  margin-left: 25px;
  margin-top: 13px;
}

.input-container-description {
  margin-left: 25px;
  margin-top: 5px;
}

.input-description {
  width: 671px;
  border: none;
  outline: none;
  color: #302e2f;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
  height: 75px;
  resize: none;
  scrollbar-width: thin;
  scrollbar-color: #6335ff transparent;
}

/* My Editor  */

.custom-editor .ql-container.ql-snow {
  border: none;
}

.ql-toolbar.ql-snow {
  box-sizing: border-box;
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  padding: 8px;
  background-color: #f2f2f2;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  border: none !important;
}

ql-toolbar.ql-snow .ql-formats {
  margin-right: 15px;
  background-color: rgba(95, 92, 93, 0.25) !important;
  border-radius: 8px;
}

/* CTA -------------------------------------------------------------------- */

.cta-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 1rem;
  height: 100%;
}

#cta-btn {
  color: var(--primary);
  font-family: Nohemi;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  background: var(--candy);
  border-radius: 8px;
  border: none;
  padding: 8px 16px;
}

#card-cta {
  border-radius: 0.5rem;
  background-color: #6335ff;
}

/* TIME & DATE REACT JS */

/* TEXT Tiitle ===============================*/
.title-creator span {
  color: var(--dark-ocean);
  font-family: Nohemi;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.title-creator {
  margin-top: 28px;
  margin-left: 18px;
}
/* TEXT Tiitle */

/* Label Tittle ==============================*/
.fecha-container label,
.hora-container label {
  color: rgba(95, 92, 93, 0.5);
  font-family: Montserrat;
  font-size: 11px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
/* Label Tittle */

/* INPUTS STYLES ============================= */

.time-picker {
  display: flex;
  gap: 15.45px;
  margin-left: 18px;
  position: relative;
}

#fecha-value {
  color: var(--Soft-gray, #5f5c5d);
  text-align: center;
  leading-trim: both;
  text-edge: cap;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  outline: none;
}

#hora-value {
  color: var(--Soft-gray, #5f5c5d);
  text-align: center;
  leading-trim: both;
  text-edge: cap;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  outline: none;
}

.fecha-container input {
  display: flex;
  width: 147.317px;
  height: 32.966px;
  padding: 5px 8px;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 12px;
  border-radius: 4px;
  border: none;
  background: var(--Gray, #f9f9f9);
  box-shadow: 1px 2px 2px 0px rgba(0, 0, 0, 0.25);
}

.hora-container input {
  display: flex;
  width: 75.204px;
  height: 32.966px;
  justify-content: center;
  align-items: center;
  gap: 2px;
  flex-shrink: 0;
  border: none;
  border-radius: 4px;
  background: var(--Gray, #f9f9f9);
  box-shadow: 1px 2px 2px 0px rgba(0, 0, 0, 0.25);
}

/* INPUTS STYLES */

input[type="date"]::-webkit-calendar-picker-indicator {
}

/* TEST DE ICON
#calendar-icon{
  width: 8px;
  height: 8px;

}

.date-calendar{
  stroke: #208cfd;
}

.group-calendar{
  display: flex;
  align-items: center;
  background-color: #fd2720;
}
*/

/*Popover de Notificaciones ----------------------------- */

/*Vistas Componentes, Pantalla creador ----------------------------- */

.select-social-container {
  background: var(--Primary, #6335ff);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.title-social {
  color: var(--Cloud, #fff);
  text-align: right;
  font-family: Nohemi;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.social-cards-box {
  display: flex;
  gap: 12.8px;
}

.group-social {
  display: flex;
  width: 224px;
  height: 154.4px;
  border-radius: 12.8px;
  background: #fff;
  box-shadow: 1.6px 1.6px 0px 0px rgba(0, 0, 0, 0.25);
  justify-content: center;
  align-items: center;
  gap:20px;
}

.group-social span {
  color: #979596;
  font-family: Nohemi;
  font-size: 25.6px;
  font-style: normal;
  font-weight: 600; 
  line-height: normal;
}

.icon-social {
  display: flex; /* Heredado del padre */
  align-items: center;
  vertical-align: middle; /* Nueva propiedad */
}


btn-social {
}

.btn-social-create {
  width: 500px;
  height: 54px;
  border-radius: 12px;
  border: none;
  cursor: pointer;
  background: #46ffc2;
  color: var(--Dark-ocean, #101040);
  font-family: Nohemi;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

/* Guide - Creator EDITOR QUILL*/
.container-guide{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.title-guide{
  border-radius: 16px;
  display: flex;
  align-items: center;
  background-color: #208cfd;
  height: 80px;
}

.title-input input{
  border: none;
  outline: none;
  text-decoration: none;
  background: none;
  height: 30px;
  width: 100%;
}

.title-input{
  width: 1415px;
}

input::placeholder{
  color: rgba(255, 255, 255, 0.75);
  font-family: Nohemi;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px; /* 125% */
  width: 100%;
}




