/* RESOURCES -------------------------------------------------------*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --primary: #6335ff;
  --ocean: #4045ff;
  --sky: #2de1ff;
  --candy: #46ffc2;
  --cloud: #ffffff;
  --gray: #f9f9f9;
  --black: #302e2f;
  --gradient: linear-gradient(90deg, #00c5dc 0%, #208cfd 50.5%, #8705fa 100%);
  --dark-ocean: #101040;
  --soft-gray: #302e2f;
  --warning: #f4190b;
  --purple: #8705fa;
  --ocean-secundary: #208cfd;
  --aqua: #00c5dc;
}

/* ESTILOS GLOBALES ------------------------------------------------------*/

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  user-select: none;
}

/* Se aplica tanto al body del app como al del index.html*/
body {
  background-color: #fafafa;
  height: 100vh;
  margin: 0;
  padding: 50px;
}

/* desactivar barra de scroll del body */
body {
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none;
}

/* APP.JS STYLES ---------------------------------------------------------- */

/* HEADER ---------------------------------------------------------- */

.logo {
  cursor: pointer;
}

.container-navbar-right {
  display: flex;
  align-items: center;
  gap: 40px;
}

.header-icons {
  display: flex;
  gap: 25px;
  cursor: pointer;
}

.profile {
  display: flex;
  gap: 16px;
  align-items: center;
}

.profile-image {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-image: url(../src/assets/profile/profile-pic.jpg);
  cursor: pointer;
}

.username {
  color: var(--soft-gray);
  text-align: right;
  font-family: Nohemi;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

/* HOVER PARA ICONOS DE LA NAVBAR */

.aspect,
.lang,
.notify {
  transition: fill 0.3s ease-in-out;

  &:hover .AspectFill {
    fill: var(--sky);
  }
}

.messages {
  transition: stroke 0.3s ease-in-out;

  &:hover .messagestroke {
    stroke: var(--sky);
  }
}

.aspect,
.lang,
.notify {
  transition: fill 0.3s ease-in-out;

  &:active .AspectFill {
    fill: var(--candy);
  }
}

.messages {
  transition: stroke 0.3s ease-in-out;

  &:active .messagestroke {
    stroke: var(--candy);
  }
}

/* SECCION CONTENEDORA DEL BODY (SIDEBAR Y MODULOS)  ---------------------------------- */
.main-section {
  display: flex;
  margin-left: 16px;
  overflow: hidden;
  border-radius: 16px;
  flex: 1;
  
}

.contenedor-contenido { /* Nuevo envoltorio para barra-superior y seccion-principal */
  display: flex; /* Diseño del área de contenido principal */
  flex-direction: column; /* Barra superior arriba, seccion-principal abajo */
  width: 100%; /* Rellena el espacio restante después de la barra lateral */
}

.top-bar{
  display: flex;
  justify-content: flex-end; /* Contenido alineado a la derecha */
  width: 100%; /* Abarca todo el ancho */
  margin-bottom: 40px;
  align-items: center;
}

.options{
display: flex;
gap: 38.4px;
margin-right: 64px;
}

.container-creator{
  display: flex;
  flex-direction: row;
}

/*sidebar*/


.navigation{
  width: 291px;
  height: calc(100vh - 100px); /* Restamos el padding superior e inferior */
  display: grid;
  grid-template-columns: 291px auto;
  grid-template-rows: auto auto auto auto auto;
  gap: 16px;
  grid-auto-flow: row;
  grid-template-areas:
    "Logo Logo"
    "slogan-card slogan-card"
    "navigation navigation"
    "hora hora"
    "config config";
    overflow: hidden;
}

.Logo {
  grid-area: Logo;
  /* Puedes aplicar overflow: hidden; aquí si lo deseas */
}

.Slogan-card {
  grid-area: Slogan;
}

.panel-list {
  grid-area: navigation;
  width: 100%;
}

.hora-card {
  grid-area: hora;
  width: 100%;
}

.bottom-items {
  grid-area: config;
}


.slogan-card {
  border-radius: 16px;
  background: #fff;
  max-height:201px;
  overflow: hidden;
}

.slogan-card span {
  color: #000;
font-family: Nohemi;
font-size: 28px;
font-style: normal;
font-weight: 400;
line-height: 37px; /* 132.143% */
}

.slogan {
  display: block;
  margin-top: 15px;
  margin-left: 17px;
}

#nav-items {
  display: flex;
  align-items: center;
  width: 195px;
  height: 38px;
  gap: 0.5rem;
  padding-left: 8px;
}

#icons-box {
  height: 18px;
}

#nav-items span {
  color: var(--Dark-ocean);
  font-family: Nohemi;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 1;
}

.card-list-panel{
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 40px;
  margin-left: 17px;
}
.panel-list {
  border-radius: 16px;
  background: #fff;
  width: 291px;
}

.hora-card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  border-radius: 16px;
  background: #fff;
  width: 291px;
}
.hora-container{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
.hora-card span{
  color: var(--Black, #302E2F);
font-family: Nohemi;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.bottom-items {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 16px;
  border-radius: 16px;
  background: #fff;
  width: 291px;
  flex-shrink: 0;
}

.bottom-items > div {
  margin-left: 25px;
}

#tutorial{
  margin-top: 25px;
}

#tutorial,
#config,
#logout {
  display: flex;
  gap: 7px;
  align-items: center;
}

#bottom-icons-box {
  height: 18px;
}

#tutorial,
#config {
  color: var(--Dark-ocean);
  font-family: Nohemi;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
#logout {
  color: var(--warning);
  font-family: Nohemi;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 16px;
}






/* MODULOS DE USO --------------------------------------------------------------- */


/*CARDS CREADOR ------------------------------------------------*/

#box-2,
#box-3,
#box-4,
#box-5 {
  background-color: var(--cloud);
  border-radius: 8px;
  position: relative;
}

#box-1,
#box-6 {
  background-color: var(--primary);
  border-radius: 8px;
  position: relative;
}

/*HOVER DE LA SIDEBAR ------------------------------------------------*/

#nav-items:not(.active):hover {
  background-color: rgba(195, 195, 195, 0.2);
  border-radius: 6px;
  cursor: pointer;
}

#nav-items.active {
  border-radius: 6px;
  background: var(--primary);
  color: var(--cloud);
  transition: 0.3s ease-in-out;
}

#nav-items.active .icons-side {
  fill: var(--candy);
}

.bottom-items:hover {
  cursor: pointer;
}

#tutorial:hover {
  color: var(--ocean);
}

#tutorial:hover .icons-bottom {
  fill: var(--ocean);
}

#tutorial:active {
  color: #191eca;
}

#tutorial:active .icons-bottom {
  fill: #191eca;
}

#config:hover {
  color: var(--ocean);
}

#config:hover .icons-bottom {
  fill: var(--ocean);
}

#config:active {
  color: #191eca;
}

#config:active .icons-bottom {
  fill: #191eca;
}

#logout:hover .icon-logout {
  fill: #ff675e;
}

#logout:active .icon-logout {
  fill: #de281d;
}

#logout:hover span {
  color: #ff675e;
}

#logout:active span {
  color: #de281d;
}

/*Optimizar el codigo hover para mayor legibilidad */

/*Section de Mantenimiento ----------------------------- */

.mantenimiento-container {
  display: flex;
  width: 100%;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  background-color: var(--cloud);
  border-radius: 16px;
}

.mantenimiento-container span {
  color: rgba(99, 53, 255, 0.5);
  font-family: Nohemi;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.mantenimiento {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 22.467px;
}

.mantenimiento:hover .svg-construction {
  fill: #6335ff;
  cursor: pointer;
  fill-opacity: 1;
}

.mantenimiento:hover span {
  color: #6335ff;
  cursor: pointer;
}

/*Section de Mantenimiento ----------------------------- */

