/* RESOURCES -------------------------------------------------------*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --primary: #6335ff;
  --ocean: #4045ff;
  --sky: #2de1ff;
  --candy: #46ffc2;
  --cloud: #ffffff;
  --gray: #f9f9f9;
  --black: #302e2f;
  --gradient: linear-gradient(90deg, #00c5dc 0%, #208cfd 50.5%, #8705fa 100%);
  --dark-ocean: #101040;
  --soft-gray: #302e2f;
  --warning: #f4190b;
  --purple: #8705fa;
  --ocean-secundary: #208cfd;
  --aqua: #00c5dc;
}

/* ESTILOS GLOBALES ------------------------------------------------------*/

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  user-select: none;
}



/* Se aplica tanto al body del app como al del index.html*/
body {
  background-image: url(./assets/bg/background.jpg);
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  margin: 0;
}

/* desactivar barra de scroll del body */
body {
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none;
}


/* APP.JS STYLES ---------------------------------------------------------- */


/* HEADER ---------------------------------------------------------- */

.header {
  background-color: var(--primary);
  height: 88px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.active-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1290px;
}

.slogan {
  color: var(--cloud);
  font-family: Nohemi;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.logo {
  cursor: pointer;
}

.header-icons {
  display: flex;
  gap: 25px;
  cursor: pointer;
}

.profile {
  display: flex;
  gap: 16px;
  align-items: center;
}

.profile-image {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-image: url(../src/assets/profile/profile-pic.jpg);
  cursor: pointer;
}

.username {
  color: var(--cloud);
  text-align: right;
  font-family: Nohemi;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

/* HOVER PARA ICONOS DE LA NAVBAR */

.aspect, .lang, .notify {
  transition: fill 0.3s ease-in-out;

  &:hover .AspectFill {
    fill: var(--sky);
  }
}

.messages {
  transition: stroke 0.3s ease-in-out;

  &:hover .messagestroke {
    stroke: var(--sky);
  }
}

.aspect, .lang, .notify {
  transition: fill 0.3s ease-in-out;

  &:active .AspectFill {
    fill: var(--candy);
  }
}

.messages {
  transition: stroke 0.3s ease-in-out;

  &:active .messagestroke {
    stroke: var(--candy);
  }
}



/* SECCION CONTENEDORA DEL BODY (SIDEBAR Y MODULOS)  ---------------------------------- */
.main-section{ 
  height: calc(100vh - 90px);
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 1rem 0 1rem;
  align-items: center;
  gap: 19px;
}

/*sidebar*/

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 8px 0 0 0;
}

.navigation{
  display: flex;
  flex-direction: column;
  gap: 12px;
}

#nav-items{
  display: flex;
  align-items: center;
  width: 195px;
  height: 38px;
  gap: 0.5rem;
  padding-left: 8px ;
}

#icons-box{
  height: 18px;
}

#nav-items span {
  color: var(--Dark-ocean);
  font-family: Nohemi;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 1;
}

.bottom-items {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 14px;
}

#tutorial, #config, #logout {
  display: flex;
  gap: 7px;
  align-items: center;
}

#bottom-icons-box {
  height: 18px;
}

#tutorial, #config {
  color: var(--Dark-ocean);
  font-family: Nohemi;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

#logout {
  color: var(--warning);
  font-family: Nohemi;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/* MODULOS DE USO --------------------------------------------------------------- */

.container-module{
  height: 100%;
  gap: 8px;
  display: grid;
  grid-template-columns:725px 393px ;
  grid-template-rows: 74px 124px 1fr 78px;
  overflow: scroll;
  border-radius: 8px;
  scrollbar-width: none; 
  grid-template-areas:"titulo redes"
                      "descripcion date"
                      "content-main content-main"
                      "cta cta";
}

/* GRID AREAS -----------------------------------------*/
.Titulo{
  grid-area:titulo;
}

.redes{
  grid-area: redes;
}

.descripcion{
  grid-area: descripcion;
}

.date{
  grid-area: date;
}

.content-main{
  grid-area: content-main;
  overflow: hidden;
}

.cta{
  grid-area: cta;
}

/*CARDS CREADOR ------------------------------------------------*/

#box-2, #box-3, #box-4, #box-5 {
  background-color: var(--cloud);
  border-radius: 8px;
  position: relative;
} 

#box-1, #box-6 {
  background-color: var(--primary);
  border-radius: 8px;
  position: relative;
}

/*HOVER DE LA SIDEBAR ------------------------------------------------*/

#nav-items:not(.active):hover {
  background-color: rgba(195, 195, 195, 0.20);
  border-radius: 6px;
  cursor: pointer;
}

#nav-items.active {
  border-radius: 6px;
  background: var(--primary);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: var(--cloud);
  transition: 0.3s ease-in-out;
}

#nav-items.active .icons-side{
  fill: var(--candy);
}

.bottom-items:hover{
  cursor: pointer;
}


#tutorial:hover{
  color: var(--ocean);
}

#tutorial:hover .icons-bottom{
  fill: var(--ocean);
}

#tutorial:active{
  color: #191ECA;
}

#tutorial:active .icons-bottom{
  fill: #191ECA;
}


#config:hover{
  color: var(--ocean);
}

#config:hover .icons-bottom{
  fill: var(--ocean);
}

#config:active{
  color: #191ECA;
}

#config:active .icons-bottom{
  fill: #191ECA;
}

#logout:hover .icon-logout{
  fill: #FF675E;
}

#logout:active .icon-logout{
  fill: #DE281D;
}

#logout:hover span{
  color: #FF675E;
}

#logout:active span{
  color:#DE281D;
}


/*Optimizar el codigo hover para mayor legibilidad */



.proyectos-container{
  display: flex;
  width: 1126px;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  background-color: var(--cloud);
}

.proyectos-container span{
  color: rgba(99, 53, 255, 0.50);
font-family: Nohemi;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: normal;
}




